@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
:root{
    box-sizing: border-box;
    font-size: calc(0.2em + 1vw);
  }
*,
::before,
::after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, a, div, span, li{
font-family: 'Rubik', sans-serif;
color: #fff;
} 
a{
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
li{
  list-style: none;
}
body{
  background-color: #0c1154;
}

.movie-container::-webkit-scrollbar{
  display: none;
}
::-webkit-scrollbar {
    width: .5em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #7887ef;
      -webkit-border-radius: 5em
}

/* Firefox browsers */

.movie-container::-moz-scrollbar{
  display: none;
}
::-moz-scrollbar {
    width: .5em;
}
 
::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-moz-scrollbar-thumb {
  background-color: #7887ef;
      -webkit-border-radius: 5em
}

/*----------*/

li a:hover{
  color: #5353e8;
}

.navigationbar{
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  padding: .5em 0em;
  transition: 0.2s;
}
.navigationbar.scrolled{
  background-color: #0c1154;
}
.nvgbres{
  height: 11em;
}
.main-reset{
  
padding-top: 5em;
}
a:hover{
  text-decoration: none;
}
.item a{
  color: #fff;
}
.item a:hover{
  color: #0059F7 !important;
}
.navbar-brand-name{
  color: #fff !important;
}
.container-reset{
  background: url(../img/img1.jpg);
  background-size: cover;
}
  .menu {
    justify-content: center;
    align-items: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }

nav {
    width: 100%;
}

.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 20px 7.5px 80px;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0em !important;
  background-color: #070e27;
  width: 100%;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 2;
  font-size: 30px;
  justify-content: flex-end;
  padding-right: 1.5em;
  display: flex;
  overflow: hidden;
}
.toggle a{
  width: 0;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}
.login-btn{
  background-color: #5353e8;
  color: #fff;
}
.button-scroll-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 9em;
  position: sticky;
  left: .1em;
  z-index: 1;
  padding-left: 2em;
  width: 2em;
}
.movies-showcase{
  height: 100vh;
  display: flex;
  position: relative;
}
.movie-showcase{
  display: flex;
  flex-direction: column;
  background-color: skyblue;
  padding-top: 8em;
  padding-left: 6em;
  background-size: cover;
  background-position-y: -10em;
  position: absolute;
  bottom: 0px;
  top: 0px; 
}
.title-genre-year{
  display: flex;
  flex-direction: column;
}
.title-genre-year h1{
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.year-genre{
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 1em 0em;
  width: 35em;
  margin-bottom: 2.5em;
}
.year-genre p{
  margin-right: .5em;
  color: #fff;
}
.movie-plot{
  padding-right: 31em;
  margin-bottom: 3.5em;
  color: #fff;
}
.select-btn{
  font-size: 1.5rem;
  padding: .5em 1em;
  border: 1px solid #fff;
  border-radius: 5em;
  background-color: transparent;
  color: #fff;
  transition: 0.5s;
}
.select-btn-transparent{
  border: none;
}
.select-btn:hover{
  background-color: #5353e8;
  border-color: #5353e8;
}
.menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
  .login-btn{
    padding: .5em 1.5em;
    border-radius: 2em;
    border: none;
    transition: 0.2s
  }
  .login-btn:hover{
    background-color: #fff;
    color: initial;
  }
  .login-cont{
  margin-top: .5em;
  }
  .popular-movies{
    height: 70vh;
  }
  .popular-movies{
  /* padding-top: 5em; */
  /* padding-left: 4em; */
}
.section-title{
  margin-bottom: 1.5em;
  margin-left: 3em;
}
.movie-container{
  display: flex;
  width: 100%;
  scrollbar-width: none;
  overflow: auto;
  position: relative;
}
.movie-img{
  width: 23em;
  height: 13em;
  background-color: #090c33;
  border-radius: .6em;
  position: relative;
}
.movie-snip h1{
  margin: .5em 0em;
}
.movie-snip{
  margin-right: 1.5em;
  margin-bottom: 1em;
}
.movie-snip:nth-child(2){
  margin-left: -1em;
}
.scroll-btn{
  position: sticky;
  z-index: 1;
  height: 3.5em;
  border: none;
  padding: 0em 1.5em;
  border-radius: 33em;
  background-color: #5e69d6;
  color: #fff;
  top: 6.5em;
}
.scroll-left{
  /* left: 1.5em; */
}
.scroll-right{
  right: 1.5em;
}
.login-banner{
  padding: 0em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-banner-main{
  background: linear-gradient(180deg, #0c115461, #0c115461), url(../img/moviecollage.webp);
  background-size: cover;
  width: 100%;
  height: 22em;
  border-radius: 1em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-main{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30em;
  background-color: white;
  position: relative;
  bottom: 8em;
  border-radius: 1.5em;
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0em 2.2em;
}
.input-class{padding: 1em 1em;font-size: 1rem;margin-bottom: 1em;border-radius: .3em;border: none;width: 18em;box-shadow: 0px 0px 11px 0px #d8d8d8;}
.login-main h1{
  color: #0c1154;
  font-size: 1.5rem;
  font-weight: 400;
}
.forgot-pass{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 2em;
}
.forgot-pass a{
  color: #0c1154;
  font-weight: 100;
  font-size: .8rem;
}
.login-login-btn{
  
padding: 1.1em 7em !important;
  
border-radius: .5em !important;
}
.already{
  justify-content: center;
}
.login-banner-main h1{
  margin-bottom: .5em;
  margin-top: 1em;
}
.login-banner-main p{
  font-weight: 100
}
.login-nav-override{
position: initial;
}
.signup-main{
  height: 40em;
}
.input-check-box{
  font-size: .8rem;
    font-weight: 100;
  color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-check{
  margin-right: .5em;
}
.error-message, .success-message{
  color: #131313;
  width: 90%;
  font-weight: 100;
  font-size: .8rem;
  margin-top: .2em;
  margin-bottom: 1em;
  background-color: #ffb9b9;
  padding: .7em 1em;
  border-radius: .2em;
}
.success-message{
  background-color: #b9ffda;
}